<%= form_for :photo, url: rating_path do |f| %>
<div> <h1 class=" text-center"><%= I18n.t(:rating)%></h1>

</div>
<div class="leaderboard">
  <table class="table table-dark">
    <tr>
      <th><%= I18n.t(:rank)%></th>
      <th><%= I18n.t(:author)%></th>
      <th><%= I18n.t(:photo)%></th>
      <th class="middle_col"><%= I18n.t(:title)%></th>
      <th> <%= I18n.t(:rating)%></th>
    </tr>
    <% @steps_results.each do |member| %>

       <% photo = Photo.find(member[:member]) %>
      <% user = User.find(photo.user_id) %>
             <tr>
        <td><%= member[:rank] %></td>

        <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user),class: '' %></td>
        <td>    <a  href=<%=photo_path(photo)%>><%= image_tag photo.photography.rating.url %></a></td>
        <td class="middle_col"> <%= photo.name %>
        </td>
          <td><%= member[:score].to_i %></td>

      </tr>
    <% end %>

  </table>
</div>
<% end %>
