<% if current_user %>
  <div class="page-header">
    <h1>Некоторая информация о Вас:</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong>Имя:</strong> <%= current_user.first_name %></li>
  <li><strong>Фамилия:</strong> <%= current_user.last_name %></li>
        <li><strong>Фото URL:</strong> <%= current_user.image_url %></li>

        <li><strong>Аккаунт URL:</strong> <%= current_user.url %></li>
      </ul>
    </div>
  </div>
<% else %>
  <%= render 'welcome' %>
<% end %>
