<% if current_user %>
 <!--  <div class="page-header">
    <h1>Profile</h1>
  </div>

<div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong>First Name:</strong> <%= current_user.first_name %></li>
        <li><strong>Last Name:</strong> <%= current_user.last_name %></li>
        <li><strong>email:</strong> <%= current_user.email %></li>
         <li><strong>Photo URL:</strong> <%= current_user.image_url %></li> 
         <li><strong>Profile URL:</strong> <%= current_user.url %></li>
      </ul>
    </div>
  </div>-->

<%= render 'main2' %>


<% else %>
<%= render 'welcome' %> <br>

<%= render 'main2' %>
<% end %>
