<% parent_comment = Comment.find(params[:parent_comment_id])%>
<% photo = Photo.find(params[:photo_id]) %>

<% user = User.find(parent_comment.user_id) %>

<br>
<div class="container">


 <div class="media col">
    <div class="media-left comment">
        <%= image_tag user.image_url, alt: user.first_name %>
    </div>
    <div class="media-body  media1">
      <h4 class="media-heading title"><%= link_to "#{user.first_name} #{user.last_name}", user.url,class: '' %></h4>
      <p class="komen text-body ">
            <%=simple_format(parent_comment.body) %>
</p>

    </div>




</div>
</div>

<div class="geser col">

  <%= form_for ([current_user, photo, parent_comment, photo.comments.build]) do |f| %>
  <div class="comment"> <table >
     <tr> <td   width='50'>
         <%= image_tag current_user.image_url, alt:  current_user.first_name %></td>

              <td >
                <%= f.label  I18n.t(:reply) %><br>
                <%= f.text_area :body ,required: true%>



                <%= f.submit 'Post', class: '  btn' %>
              </td></tr></table></div>
            <% end %>


</div>
