<%@photo = photo%>
<div class="cardbox-base text-muted" id="likes" >
  <% if current_user %>
  <% like =  Like.find_by(user_id: current_user.id,photo_id: @photo.id)%>
  <%  unless like %>
      <%= form_for [@photo,@photo.likes.build] , remote: true do |f| %>

      <div class="col "><span class="1votes-count-<%=@photo.id%>" remote = true><%= @photo.rating %></span>
        <%= f.submit "♥",  class: ' btn-link btn text-danger like', style: "text-decoration: none",remote: true%>
      <% end %>
<%else%>
<div class="col"><span class="1votes-count-<%=@photo.id%>" remote = true><%= @photo.rating %></span>
<%= link_to '♥',
        like_path(like.id),
                    method: :delete,
                    class: 'text-black btn-link btn' , style: "text-decoration: none", remote: true%>
<% end %>



<%= link_to 'VK', share_path(id: @photo.id, url: request.original_url) , target: :_blank,class: 'btn'%>

</div>
<%else%>
<span class=""><%= @photo.rating %> ♥</span>
      <% end %>


</div><!--/ cardbox-base -->
</div>
