<% if current_user %>

<%= form_for(@user) do |f| %>
<div class="container">
    <h1>Edit Profile</h1>
  	<hr>


      <!-- edit form column -->
      <div class="col-md-9 personal-info">

        <h3>Personal info</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-lg-8">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-8">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>

            <div class="col-md-8">
              <%= f.submit "Save changes", class: "btn btn-primary" %>
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>

      </div>
  </div>
</div>
<hr>
<%end%>
<%end%>
