<%= render 'sorting'%>
<% @photos.each do |photo| %>
  <div class="jumbotron post">


        <table>

                      <% user = User.find(photo.user_id) %>
                      <h2 class="text-center">Title: <%= photo.photo_name %></h2>
	<tr> <td >   Author: <%= link_to "#{user.first_name} #{user.last_name}", user.url,class: '' %></td> </tr>
<tr>
          <td  valign='middle' align='middle'  width="auto">
            <%= image_tag photo.photography.url %><br></td> </tr>



          <tr> <td>
           Rating:<%= photo.rating %></td></tr>
<tr><td>
<% if current_user %>
                   <%= form_for ([photo,photo.likes.build]) do |f| %>
                   <%= f.submit "♥",  class: ' btn-link btn'%>
                   <% end %>

                    <% end %>
        </td>

 </tr>
<tr><td >
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent<%=photo.id%>">
    <div class="allcom p-4">

	<% if photo.comments.any? %>
            <h5>All comments:</h5>
            <% photo.comments.each do |compr| %>
                        <div class="comment">
                          <table>
                            <tr> <td rowspan="3"  width='50'>  <% user = User.find(compr.user_id.to_i) %>
                                <%= image_tag user.image_url, alt: user.first_name %></td>

                                  <td><%= link_to "#{user.first_name} #{user.last_name}", user.url,class: '' %></td></tr>
                                  <tr><td> <%=simple_format(compr.body) %></td></tr>
                                  <tr><td> <%= compr.created_at %></td></tr>

                          </table>

                        </div>
                        <% end %>



          <% else %>
            <h5>No comments here</h5>
          <% end %>

  <% if current_user %>
 <%= form_for([photo, photo.comments.build]) do |f| %>

<div class="comment"> <table >
   <tr> <td   width='50'>
       <%= image_tag current_user.image_url, alt:  current_user.first_name %></td>

            <td >
              <%= f.label 'Write comment' %><br>
              <%= f.text_area :body %>



              <%= f.submit 'Post', class: '  btn' %>
            </td></tr></table></div>
          <% end %>
          <% else %>
                        <p>you need sign in</p>
        <% end %>
    </div>
  </div>



  <nav class="navbar ">
<div class=" btn btn-link " data-toggle="collapse" data-target="#navbarToggleExternalContent<%=photo.id%>" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"> Comments</div>


  </nav>
</div></td></tr>



      </table></div>

<% end %>
