<div>
  <br>
<%= render 'sorting'%>
</div>
<br>

<%if @partner.size.positive? %>
<div class = "partner"><h4 class="text-center "><%= I18n.t(:partners)%></h4>
<div class = "photos row justify-content-center" id=''>

     <%= render @partner %>

</div></div>
<%end%>
<hr>


<div class = "photos row justify-content-center" id='photos'>

     <%= render @photos %>

</div>
<div id='paginator' >

<%= paginate @photos , :theme => 'twitter-bootstrap-4',
                   :pagination_class => " pagination justify-content-center ", remote:true%>
</div>
