<%= form_for :photo, url: photos_path do |f| %>

    <p>
      <%= f.label 'Title:' %> <br>
      <%= f.text_field :photo_name %>
    </p>

    <p>
      <%= f.label 'Choice a file:' %> <br>
      <%= f.file_field :photography, accept: 'image/jpeg,image/gif,image/png' %>
    </p>


  <%= f.submit "Send", class: "btn btn-light " %>
<% end %>
