<%= form_for :photo, url: rating_path do |f| %>
<div> <h1 class=" text-center">Current Rating</h1>

</div>
<div class="leaderboard">
  <table class="table table-dark">
    <tr>
      <th>Rank</th>
      <th>Photo</th>
      <th class="middle_col">Name</th>
      <th> Rating </th>
    </tr>
    <% @steps_results.each do |member| %>

       <% photo = Photo.find(member[:member]) %>
      <tr>
        <td><%= member[:rank] %></td>
        <td>  <%= image_tag photo.photography.rating.url %></td>
        <td class="middle_col"> <%= photo.name %>
        </td>
          <td><%= member[:score] %></td>

      </tr>
    <% end %>
  </table>
</div>
<div>

<%= paginate @steps_results , :theme => 'twitter-bootstrap-4',
                   :pagination_class => " pagination justify-content-end "%>
</div>

  <% end %>
