<!DOCTYPE html>
<html>
  <head>
    <title>PhotoCon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= favicon_link_tag asset_path('fav.png')%>
    <style>
      body {
       background:#e1e8ef;
      }
     </style>
  </head>

  <body>
     <nav class="navbar navbar-expand-lg  text-uppercase navbar-dark bg-secondary  ">
  	  <div class="container">
  	    <div class="navbar-header ">
  	    <%= link_to 'PhotoCon', root_path, class: 'navbar-brand btn  text-white' %>
  	    </div>
<div><%= link_to I18n.t(:rating), rating_path , class: '    btn btn-secondary' %></div>
<div><%= link_to I18n.t(:gallery), gallery_path , class: '  btn btn-secondary' %></div>
        <div id="navbar">

          <% if current_user %>
 	        <ul class="nav navbar-inverse navbar-nav pull-right ">


            <li class="nav-item dropdown">
              <div class="btn btn-lg align-middle btn btn-secondary dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		 <%=current_user.first_name %>
          <%= image_tag current_user.image_url, alt: current_user.first_name %>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%unless current_user.ban%><%= link_to I18n.t(:new_photo),new_photo_path,class: 'dropdown-item' %><%end%>
            <%= link_to I18n.t(:profile), user_path(current_user.id) ,class: 'dropdown-item'  %>
              <%= link_to I18n.t(:update_profile), edit_user_path(current_user.id) ,class: 'dropdown-item'  %>
 	          <%= link_to I18n.t(:logout), logout_path,class: 'dropdown-item', method: :delete %>
            </div>
 	        </ul>
         <%else%>
         <div>  <%= link_to I18n.t(:sign_in), '/auth/vkontakte',class: 'btn btn-lg btn-outline-light' %></div>

         <% end %>


  	    </div>
  	  </div>
  	</nav>
 <% if current_user %>
<%if current_user.ban%>
<div class="bg-danger">
<%=I18n.t(:ban_massage)%>
</div>
<% end %><% end %>
    <div class=" container">
  	  <% flash.each do |key, value| %>
  	    <span class="alert alert-<%= key %>">
  	      <%= value %>
  	    </span>
  	  <% end %>

  	  <%= yield %>
  	</div>
  </body>
</html>
