<!DOCTYPE html>
<html>
  <head>
    <title>PhotoCon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-custom ">
  	  <div class="container">
  	    <div class="navbar-header text-light">
  	      <%= link_to 'PhotoCon', root_path, class: 'navbar-brand ' %>
  	    </div>
  	    <div id="navbar">
          <% if current_user %>
 	        <ul class="nav navbar-nav pull-right">
 	          <li><%= image_tag current_user.image_url, alt: current_user.first_name %></li>
 	          <li ><%= link_to 'Out', logout_path, method: :delete %></li>
 	        </ul>
 	       <% end %>
  	    </div>
  	  </div>
  	</nav>

  	<div class="container">
  	  <% flash.each do |key, value| %>
  	    <div class="alert alert-<%= key %>">
  	      <%= value %>
  	    </div>
  	  <% end %>

  	  <%= yield %>
  	</div>









  </body>
</html>
